
/* 全画面共通のCSSを書いてください */

html {
    height: 100%;
}
  
body {
  height: 100%;
  margin: 0;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(209, 209, 209);
}

.app-wrapper {
    width: 450px;
    height: 900px;
    background-color: #D8EECD;
    margin: 0 auto;
}

