.title {
    font-weight: bold;
    font-size: 40px;
    padding: 3%;
    font-size: 20px;
}

.title-container {
    padding-top: 20px;   
}
.login{
    padding-top: 20px;
    text-align: center;
    font-size: 20px;
}

th.login_field {

    width: 150px;
    text-align: left;
    padding: 20px;
    color: #ffffff;
    background-color: #008000;
}
td.login_field {
    padding: 5%;
}
td.login_button {
    text-align: center;
    padding: 8px;
    
}

