* {
	margin:0; padding:0; 		
}
.title{
  padding-top: 2%;
  font-size: 20px;
 
}
.cp_hr04 {
	border-width: 3px 0 0 0;
	border-style: double;
	border-color: #008000;
}
.title1{
  margin-top: 5%;
  text-align: center;
  font-size: 30px;
  text-decoration: underline;

}
.register{
  padding-top: 20px;
  text-align: center;
  font-size: 20px;
}
.new{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 6%;
}
.new_container{
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;;
   background-color: white;
   height: 250px;
   margin-top: 5%;
   margin-right: 5%;
   margin-left: 5%;
    color: #000; 
    background-color: #f5f5f5; 
    border: 3px solid #ccc; 
   
}
.new_field{
    font-size: 25px;
    margin-top: 3%;
   margin-bottom: 3%;
}

.new_text{
  
    height: 160px;
    width: 320px;
}
.btn{
    margin-top: 5%;
}
.button {
    display       : inline-block;
    border-radius : 5%;          
    font-size     : 30pt;      
    text-align    : center;     
    cursor        : pointer;    
    padding       : 12px 12px;   
    background    : #008000;    
    color         : #ffffff;   
    line-height   : 1em;         
    transition    : .3s;         
    /*box-shadow    : 6px 6px 3px #666666;  */
    border        : 2px solid #008000;    
  }
  .button:hover {
    box-shadow    : none;       
    color         : #008000;   
    background    : #ffffff;   
  }
  .flex{
    padding: 2.5% 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .flex > *{
    width:33.3%;
    background: #fff;
    font-size: 64px;
    text-align: center;
  }
.abc{
  padding: 5%;
  background    : #008000; 
  font-size     : 20pt;      
  text-align    : center;    
}